<h1 class="m-4 color-theme">Contact us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<li>For any concerns, please call at our toll free numbers between 9 AM to 6 PM:</li>
		<ul>
			<li>1500-393-455 (within India)</li>
			<li>1500-393-455 (within India)</li>
		</ul>
		<li>You're welcome to explore our offices and witness firsthand the impactful ways our agents distribute food across various locations</li>
		<ul>
			<li>XYZ Nagar, Delhi</li>
			<li>XYZ Vihar, Noida</li>
		</ul>
		<li>You can also email your suggestions and feedback at <mark>Nourish@gmail.com</mark></li>
		<!-- <form action="https://api.web3forms.com/submit" method="POST">

			<input type="hidden" name="access_key" value="546c160d-4f4e-4ab6-a762-8234908e3264">
			<input type="text" id="firstName" name="firstName" placeholder="Name" required>
			<input type="email" id="email" name="email" placeholder="Email" required>
			<textarea id="message" name="message" placeholder="Message" required></textarea>
			<button type="submit">Submit</button>
		</form>
		<br> -->
		<form action="https://api.web3forms.com/submit" method="POST">
		<input type="hidden" name="access_key" value="3a08b6db-f737-4f64-b39d-a0284e51238a">
		<div class="mb-3">
			<input type="name" name="name" class="form-control" id="name" placeholder="Enter Name.." required autofocus>
		</div>

		<div class="mb-3">
			<input type="email" name="email" class="form-control" id="email" placeholder="Enter your email.." required>
		</div>
		
		<div>
			<textarea name="message" id="message" placeholder="Enter your suggestions.." required></textarea>
		</div>

		<button type="submit" class="btn d-block m-auto mt-4">Submit</button>
		 
		
		 </form>

	</ul>

</div>